html {
    box-sizing: border-box;
    margin:0;
    padding:0;
    scroll-behavior: smooth;
    font-family:"Poppins", Arial, Helvetica, sans-serif;
}
:root {
    box-sizing: inherit;
    margin:0;
}
body {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family:"Poppins", Arial, Helvetica, sans-serif;
}
#Home {

}

.nav-container {
    display: flex;
    height:200px;
    background-image: url("/images/pizza-nav.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    position: sticky;
    
}
.nav-navigation {
    display: flex;
    width:fit-content;
    justify-content:right;
    margin-left: auto;
    height:100px;
    align-items: center;
}
.nav-nav {
    display: flex; 
    margin-right: 3rem;
}
.nav-nav ul {
    display: flex;
    list-style: none;
    font-size: 1.5rem;
    border
}
.nav-nav li {
    margin-right: 2rem;
}
.nav-nav a {
    text-decoration: none;
    color: rgb(255, 255, 255, 0.8);
    font-weight: 500;
    font-size: 1.4rem;
}
.nav-nav a:hover {
    color: rgb(155, 243, 14);
    transform: scale(0.2);
    transition: 0.4s;
}
.nav-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28%;
    margin-left:70rem;
}
.nav-b12 {
    display: flex;
    align-items: center;

}
.nav-b12 a {
    display:flex;
    text-decoration: none;
    font-size: 2.8rem;
    color: white;
    margin-left:auto;
    margin-right: auto;
}
.button {
    display:flex;
    border: 2px solid rgb(255, 254, 254);
    margin-right: 45px;
    padding: 12px;
    background-color:rgb(64, 116, 117);
    width: 130px;
    text-align: center;
}
a:hover, .button:hover {
    transition: 1s;
    color:greenyellow;
    border-color: greenyellow;
    transform:rotate
}

#Promos {
    color: rgb(0, 0, 0);
    display: flex;
    margin-left: auto;
    margin-right: 270px;
    margin-top: 200px;
    margin-bottom: 150px;
    width: 70%;
}
.promo-album {
    display: flex;
    margin-left: auto;
    margin-right: auto;

}
.promo {
    display: inline-block;
    margin-right: 20px;
    border: 2px solid rgb(12, 10, 165);
    align-items: center;
    padding-bottom: 20px;
}
.promo h1 {
    text-align:center;
    font-size: 2rem;
}
.promo p {
    text-align:left;
    font-size: 1.2rem;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;

    padding: 10px;
    width:60%;
}
.promo img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.promo-heading h1{
    border: 2px solid black;
    transform: rotate(90deg);
    font-size: 90px;
    margin-left:-170px;
    margin-top: 200px;
    background-color: rgb(151, 206, 154);
    padding-left: 20px;
    padding-right: 20px;
}
#Bestsellers {
    display: flex;
    background-color: black;
}
.bestseller-section {
    display: flex;
    background-color: rgb(71, 70, 70);
    padding-top: 80px;
    width: 80%;
    margin-left:auto;
    margin-right: auto;
    height:fit-content;
}
.bestsellers-album {
    display: flex;
    border: 3px solid rgb(51, 51, 51);
    width: fit-content;
    height: 480px;
    justify-content: center;
    align-items: centers;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    background-color: rgb(231, 231, 220);
    border-radius: 15px;
    margin-bottom: 85px;
}
.bestsellers-album ul {
    display:block;
    list-style: none;
    align-items: center;
}
.bestsellers-album ul li {
    font-size: 1.8rem;
    font-weight: 500;
    margin-right: 33px;
}
.bestseller img {
    width: 21rem;

}
.bestsellers-album {
    display: flex;
    text-align: center;
 
}
.bestseller-button a {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: bold;
    padding-bottom:100px;
    color: black;
}
.bestsellers-album:hover {
    transform: scale(1.2);
    transition: 1s;
}
.about-us-container {
    display:block;
    background-color: rgb(248, 248, 116);
    margin-top: 200px;
    width: 80%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
}
.about-us-descph {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 95px;

}
.about-us-descph .about-us-description {
    width: 50%;
}
.about-us-descph .about-us-photo {
    width: 25%; 
}
.about-us-descph .about-us-photo img {
    width: 400px;   
}
.about-us-description p {
    font-size: 1.5rem;
    text-align: justify;
    width: 800px;
    
}
.photo1 {
}
.photo2 {
}
.about-us-heading {
    text-align: center;
    font-size: 3rem;
    padding-top: 1px;
}

#Contact {
    display: flex;
    margin-top: 300px;
    margin-bottom: 200px;
    justify-content: center;
    align-items: center;
    background-color: rgba(129, 129, 129, 0.582);
    width: 80%;
    color: rgb(250, 250, 244);
    margin-left:auto;
    margin-right:auto;
    padding-top: 10px;
    padding-bottom: 80px;

}
.contact-us-container {
    display: block;

}
.contact-address-map {
    display: flex;
}
.contact-us-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    font-size: 3rem;
    padding-top: 1px;
}
.details {
    display: flex;
    font-size: 2rem;
    justify-content: center;
    text-align: center;
    height:fit-content;
    margin-top: auto;
    margin-bottom: auto;

}
.map {
    display: flex;
    margin-left: 50px;
    border: 10px solid white;
    align-items: center;
}
.social ul {
    display: flex;
    list-style: none;
    margin-top: 100px;
    align-items: center;
    justify-content: center;;
}
.social ul li {
    justify-content: space-evenly;
    margin-right: 50px;
}
.social ul li a{
    text-decoration: none;
    color: white;
    font-size: 30px
}
.footer-bottom {
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: flex-end;
}
.links ul {
    list-style: none;
    display: flex;
    margin-right: 20px;
}
.links ul li a{
    text-decoration: none;
    color: white;
    margin-right: 15px;
}
.gotop a {
    margin-right: 100px;
    color: rgba(109, 109, 109, 0.24);
}
.gotop i {
    color: white;
}

